// Make the body narrow and centered
body {
  font-family: sans-serif;
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 1rem;
}

// For some reason max-width on body doesn't apply
img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
  a {
    color: #58a6ff;
  }
  a:visited {
    color: #cc76a4;
  }
  a:active {
    color: #ff0000;
  }
}

// Code color theme based on preferences
@import url("syntax-dark.css") (prefers-color-scheme: dark);
@import url("syntax-light.css") (prefers-color-scheme: light);

h1.title {
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

// NOTE: This does not include the right padding when scrolling...
pre {
  padding: 0.5rem;
  outline: 0.15rem solid;
  overflow-x: auto;
}

// Taken and tweaked from GitHub
// TODO: This is to ignore <code> tags in <pre> tags. I'd like a more
// compatible way to do this
code:not(pre *) {
  padding: 0.15em 0.3em;
  border-radius: 4px;
  @media (prefers-color-scheme: light) {
    background-color: rgba(175, 184, 193, 0.2);
  }
  @media (prefers-color-scheme: dark) {
    background-color: rgba(110 * 0.85, 118 * 0.85, 129 * 0.85, 0.4);
  }
}

// Cut off the table if it's too wide and make it scroll
table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

// Make tables look nice
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid;
  padding: 0.25em;
}

figure {
  text-align: center;
  figcaption {
    font-size: 1.15rem;
    font-weight: bold;
  }
}

// Scroll too long mathjax math
mjx-container[display="true"] {
  display: inline-grid;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

nav {
  // Line text up by its bottom (baseline)
  display: flex;
  align-items: baseline;

  // Push the list of links to the right side of the screen
  ul {
    margin-left: auto;
    list-style: none;
  }
  ul li {
    display: inline;
    margin-left: 0.75em;
  }
}

video {
  width: 100%;
}
