body {
  font-family: sans-serif;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

// For some reason max-width on body doesn't apply
img {
  max-width: 100%;
}

@media(prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  a { color: #00B1ED; }
  a:visited { color: #1F75FE; }
  a:active { color: #FF0000; }
}

h1.title {
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

pre {
  padding: 0.75em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}

figure {
  text-align: center;
  figcaption {
    font-size: 1.15rem;
    font-weight: bold;
  }
}

nav {
  // Line text up by its bottom (baseline)
  display: flex;
  align-items: baseline;

  // Push the list of links to the right side of the screen
  ul {
    margin-left: auto;
    list-style: none;
  }
  ul li {
    display: inline;
    margin-left: 0.75em;
  }
}
