// Make the body narrow and centered
body {
  font-family: sans-serif;
  max-width: 50rem;
  margin: 0 auto 6rem;
}

.anchor-link {
  font-size: 1.25em;
  vertical-align: 0.04em;
  text-decoration: none;
  // TODO: Make this a lighter color except for when hovered
}

// TODO: Make h2 smaller and h1 larger

article {
  padding: 0 1rem;
}

// Doesn't work if on body element :shrug: https://www.matuzo.at/blog/2022/100daysof-day25
html {
  scrollbar-gutter: stable;
}

// For some reason max-width on body doesn't apply
img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
  a {
    color: #58a6ff;
  }
  a:visited {
    color: #cc76a4;
  }
  a:active {
    color: #ff0000;
  }
}

// Code color theme based on preferences
@import url("syntax-dark.css") (prefers-color-scheme: dark);
@import url("syntax-light.css") (prefers-color-scheme: light);

h1.title {
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // Other possible fonts:
  // - ZCOOL KuaiLe
  // - Hachi Maru Pop (Japanese)
  // - Stick (Japanese)
  font-family: "ZCOOL KuaiLe", sans-serif;
}

// NOTE: This does not include the right padding when scrolling...
pre {
  padding: 0.5rem;
  outline: 0.15rem solid;
  overflow-x: auto;
}

// Taken and tweaked from GitHub
// TODO: This is to ignore <code> tags in <pre> tags. I'd like a more
// compatible way to do this
code:not(pre *) {
  padding: 0.15em 0.3em;
  border-radius: 4px;
  @media (prefers-color-scheme: light) {
    background-color: rgba(175, 184, 193, 0.2);
  }
  @media (prefers-color-scheme: dark) {
    background-color: rgba(110 * 0.85, 118 * 0.85, 129 * 0.85, 0.4);
  }
}

code,
pre,
.mono {
  font-family: Hack;
}

// Cut off the table if it's too wide and make it scroll
table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

// Make tables look nice
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid;
  padding: 0.25em;
}

figure {
  text-align: center;
  margin: auto 0;
  figcaption {
    font-size: 1.15rem;
    font-weight: bold;
  }
}

// Scroll too long mathjax math
mjx-container[display="true"] {
  display: inline-grid;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

nav {
  // Line text up by its bottom (baseline)
  display: flex;
  align-items: baseline;
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-weight: 400;
  font-style: normal;
  // This effect was inspired by https://www.arp242.net/
  background-color: #d8d8d8;

  // yes silly edges
  // padding: 0 20px;
  // clip-path: polygon(
  //   4px 0px, // top left
  //   calc(100% - 4px) 0px, // top right
  //   calc(100% - 0.5rem) 10rem,
  //   100% 100%, // bottom right
  //   20% calc(100% - 9px),
  //   2px 100%, // bottom left
  //   0px 80%,
  //   8px 30%,
  // );

  // no silly edges
  padding: 0 1.25rem;
  clip-path: polygon(
    0px 0px, // top left
    100% 0px, // top right
    100% calc(100% - 0.2rem), // bottom right
    75% calc(100% - 0.1rem),
    40% calc(100% - 0.6rem),
    20% 100%,
    0 calc(100% - 0.4rem), // bottom left
  );

  // Push the list of links to the right side of the screen
  ul {
    margin-left: auto;
    list-style: none;
  }
  ul li {
    display: inline;
    margin-left: 0.75em;
  }
}

video {
  width: 100%;
}

// Remove bullets from lists
ul.no-bullets {
  list-style: none;
  // Override the default padding-inline-start of 40px
  padding-inline-start: 0;
}
