{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>

{% for path in section.subsections %}
{% set section = get_section(path=path) %}
<h2>{{section.title}}</h2>
{{section.content | safe}}
<ul>
  {% for page in section.pages | sort(attribute="title") %}
  <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

{% if section.pages|length > 0 %}
<h2>Miscellaneous</h2>
<ul>
  {% for page in section.pages | sort(attribute="title") %}
  <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}
