{% extends "base.html" %}

{% block content %}

{% set ncsu = get_section(path="notes/ncsu/_index.md") %}
<h1 class="title">{{ ncsu.title }}</h1>

{% for path in ncsu.subsections %}
  {% set semester = get_section(path=path) %}
  <h2>{{semester.title}}</h2>
  {{ semester.content | safe }}
  <ul class="no-bullets">
  {% for class in semester.pages | sort(attribute="title") %}
    {% set parts = class.title | split(pat=": ") %}
    {% set code = parts | first %}
    {% set code_len = code | length %}
    {% set name = parts | last %}
    <li>
      {# pad with nonbreaking spaces to make the code the max width (7 chars) #}
      <span class="mono">{% for _ in range(end=7 - code_len) %}&nbsp;{% endfor %}{{ code }}</span>
      <a href="{{ class.path | safe }}">{{ name }}</a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

{% set talks = get_section(path="notes/talks/_index.md") %}
<h1 class="title">{{ talks.title }}</h1>
{{ talks.content | safe }}

<ul>
  {% for talk in talks.pages | sort(attribute="date") %}
  <li><a href="{{ talk.path | safe }}">{{ talk.date }} &ndash; {{ talk.title }}</a></li>
  {% endfor %}
</ul>

{% if section.pages|length > 0 %}
<h1 class="title">Misc. Notes</h1>
{{ section.content | safe }}
<ul>
  {% for page in section.pages | sort(attribute="title") %}
  <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}
