# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: The Paper Range
email: hunter.eli.w@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Eli W. Hunter's personal website where he details all of his projects and
  various ideas of his.

# the subpath of your site, e.g. /blog
# NOTE: This should be overriden during local tests with `--baseurl /`
baseurl: "/paper-range"
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Social Media
twitter_username: elihunter173
github_username:  elihunter173

# Collections are groups of related pages, declared here
collections:
  projects:
    # by default, collections do not output pages, but we want to be able to navigate to them
    output: true

# Front matter defaults
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "notes"
    values:
      layout: "note"

# Build settings
# Markdown and LaTeX setup
markdown: kramdown
kramdown:
  math_engine: mathjax

# theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
