<center>
  <br>
  {% comment %} Title {% endcomment %}
  <img id="profile-photo" src="{{ "/assets/img/profile.jpg" | relative_url }}"
                          alt="{{ site.title }}'s Face">
  <h1>
    <a href="{{ '/' | relative_url }}" class="no-highlight no-underline">
      <strong>{{ site.title }}</strong>
    </a>
  </h1>
  <h4>{{ site.subtitle }}</h4>
</center>

<nav>
  <a href="{{ "/" | relative_url }}" target="_self">
    <button>Home</button>
  </a>
  <a href="{{ "/about" | relative_url }}" target="_self">
    <button>About</button>
  </a>
  <a href="{{ site.github_url }}" target="_self">
    <button>GitHub</button>
  </a>
  <a href="{{ "/resume.pdf" | relative_url }}" target="_self">
    <button>R&eacute;sum&eacute;</button>
  </a>
</nav>

<hr>
