body {
    font-family: "Fira Code", "Fira Mono", "DejaVu Sans Mono", Consolas, "Lucida Console", "Liberation Mono", "Courier New", Courier, monospace;
    background-color: $base00;
    color: $base05;
}
