// Used for generic list layout
.list .section-title {
  margin: 2rem 0 0 0;
}
.list .list-items {
  margin: 0.5rem 0 0 0;
}

// General table of contents
.post-toc {
  margin: 2rem 0;

  .toc-title {
    font-size: 2.6rem;
  }

  ul {
    // Pretend like we don't have a ul
    list-style-type: none;

    // Be tight
    margin: 0;
    padding: 0;

    // Grid
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    li {
      font-size: 1.7rem;
      text-indent: -0.8em;
      padding-left: 0.8em;
      padding-right: 1em;
      line-height: 1.4em;
    }
  }
}
