// Used for single.html
.note {
  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 0 0;
  }

  dt {
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
  }
  dt + dd > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
