@import "variables";

.note {
  p {
    margin: 1rem 0 1rem 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 1rem 0;

    a.heading-anchor {
      color: $fg-color;
      font-weight: 700;
      &:hover {
        color: $link-color;
      }
    }
  }
  figcaption {
    >h1, >h2, >h3, >h4, >h5, >h6 {
      margin: 0 0 2.5rem 0;
    }
  }
}

@mixin notes_dark {
  .note {
    h1, h2, h3, h4, h5, h6 {
      a.heading-anchor {
        color: $fg-color-dark;
        &:hover {
          color: $link-color-dark;
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include notes_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include notes_dark()
  }
}
