/* A collection of classes and IDs that power my blog */

/* Marx Overrides */
a.no-highlight {
  color: inherit;
}

a.no-underline {
  text-decoration: none;
}

a.always-underline {
  text-decoration: underline;
}

/* Misc Specifics */
.spaced-buttons {
  /* vertical | horizontal */
  margin: 0px 10px
}

#footer-icons {
  font-size: 1.65rem;
}
