/* A collection of classes and IDs that power my blog */

/* Marx Overrides */
html {
  scroll-behavior: smooth;
}

a.no-highlight {
  color: inherit;
}

a.no-underline {
  text-decoration: none;
}

a.always-underline {
  text-decoration: underline;
}

/* Navbar */
#nav-container {
  display: flex;
  flex-wrap:  wrap;
  flex-direction: row;
  justify-content: space-around;
}

#nav-container button {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

/* Footer */
#footer a {
  text-decoration: none;
  font-size: 1.4rem;
}

/* The profile photo MUST have square dimensions */
#profile-photo {
  width: 172px;
  height: auto;
  border-color: #000;
  border-width: 20px;
  border-radius: 50%;
}
