<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      Eli
      {% if section.title %}
      | {{section.title}}
      {% elif page.title %}
      | {{page.title}}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/styles.css">

    {# MathJax during development #}
    {% if current_url is containing("127.0.0.1") %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"], ["\\(", "\\)"]],
        }
      }
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
  </head>

  <body>
    <nav>
      <h2><a href="/">~eli</a></h2>
      <ul>
        <li><a href="/projects/">projects</a></li>
        <li><a href="/notes/">notes</a></li>
        <li><a href="/elihunter173_resume.pdf">résumé</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock content %}
  </body>
</html>
